body
{
    background-image: url("VR_degrade.png");
    background-repeat: no-repeat;
    background-position: 50% 30px;
    background-size: 50%;
}
.saut-header
{
    height: 30px;
}
.score
{
    display: flex;
    justify-content: space-between;
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
}
td
{
    border: 1px solid black;
}
nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: darkblue;
}
nav a
{
    color: black;
    border: 1px dotted black;
    border-radius: 10%;
    box-shadow: 6px 6px 10px black;
    padding: 10px;
    background-color: cadetblue;
}
a:hover
{
    background-color: gray;
}
.glhf
{
    margin-left: 30%;
}