.create-team-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.create-team-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.create-team-title {
    text-align: left;
    color: aliceblue;
}

.create-team-members-input {
    height: 100px;
}

.shrek {
    max-width: 100%;
}