.circle {
    font-size: 40px;
}

@keyframes blink {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.type-writer::after {
    content: "|";
    animation: blink 1s infinite;
}

.type-writer {
    align-self: center;
    min-width: 300px;
    width: 100%;
    border-width: 10px;
    background-color: rgb(6, 4, 116);
    border-color: grey;
    height: 300px;
    word-wrap: break-word;
    color: white;
    border-style: solid;
    padding: 6px;
    font-family: 'Ubuntu';
    overflow: visible;
    font: 'Helvetica Neue';
}

.accueil-flex-hor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.accueil-flex-ver {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.advancement-bar {
    align-self: center;
    text-align: center;
}