{
    "WEBROOT": "http://localhost:3000",
    "DOMAIN": "http://localhost:3001"
    "CLIENT_SECRET": "",
    "CLIENT_ID": "",
    "HOST": "localhost",
    "DB": "letresor",
    "USER": "captain",
    "PASSWORD": "sacrebleu"
}
